header{
    background-image: url("../images/logo.png");
    background-position-y: center;
    background-position-x: 20px;
    background-repeat: no-repeat;
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

